<div class="container">
    <h1><i class="glyphicon glyphicon-edit"></i> Productions</h1>

    <ol class="breadcrumb ew-breadcrumb" style="padding: 4px 4px 4px 0">
        <li><a href="home">Accueil</a></li>
        <li><a href="admin">Produire</a></li>
        <li class="active">Productions</li>
    </ol>

    <div class="row">
        <div class="col-sm-4 form-group">
            <select ng-options="category.name for category in ctrl.categories" class="form-control" ng-model="ctrl.search.category">
                <option value="">Catégorie</option>
            </select>
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="category" name="content"
                   ng-maxlength="50"
                   ng-model="ctrl.search.content"
                   placeholder="Contenu ou user">
        </div>
        <div class="col-sm-3">
            <input type="radio" ng-model="ctrl.search.state" value="PENDING" id="statePENDING"> <label for="statePENDING" class="label-radio">En attente</label>
            <input type="radio" ng-model="ctrl.search.state" value="VALIDATED" id="stateVALIDATED"> <label for="stateVALIDATED" class="label-radio">Validé</label>
            <input type="radio" ng-model="ctrl.search.state" value="CENSORED" id="stateCENSORED"> <label for="stateCENSORED" class="label-radio">Rejetté</label>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-default" ng-click="ctrl.refresh()"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>

    <div class="list">
        <div class="list__content">
            Page {{ctrl.productionsPage.number + 1}} / {{ctrl.productionsPage.totalPages}}
        </div>
        <div class="list__action-header">
            {{ctrl.productionsPage.totalElements}} {{ctrl.productionsPage.totalElements>1 ? 'éléments' : 'élément'}}
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Productions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="production in ctrl.productionsPage.content | orderBy:['state', 'category', 'createdAt']">
            <td>
                <div class="list">
                    <div class="list__content">
                        <span class="label {{production.state | stateColor}} nw-label" style="padding: 2px 4px 1px"><i
                                class="{{production.state | stateIcon}}"></i></span>&nbsp;
                        <span class="hidden-xs">{{production.content | limitTo:100}}{{production.content.length>100 ? '...' : ''}}</span>
                        <span class="visible-xs">{{production.content | limitTo:50}}{{production.content.length>50 ? '...' : ''}}</span>
                        <span class="hidden-xs nw-creator"><br>Créé par <b>{{production.author}}</b> le {{ production.createdAt | ewDate}} dans la catégorie <b>{{production.category}}</b></span>
                    </div>
                    <div class="list__action">
                        <button type="button" class="btn btn-primary" ng-click="ctrl.update(production)"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button type="button" class="btn btn-default" ng-click="ctrl.delete(production)"
                                ng-if="production.state!=='VALIDATED'"><i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <span class="label {{'CENSORED' | stateColor}} nw-label"><i
            class="{{'CENSORED' | stateIcon}}"></i></span>&nbsp;<span class="nw-legend">Rejeté</span>
    <span class="label {{'VALIDATED' | stateColor}} nw-label"><i
            class="{{'VALIDATED' | stateIcon}}"></i></span>&nbsp;<span class="nw-legend">Validé</span>
    <span class="label {{'PENDING' | stateColor}} nw-label"><i class="{{'PENDING' | stateIcon}}"></i></span>&nbsp;<span
        class="nw-legend">En attente de validation</span>
    <div class="text-center">
        <uib-pagination class="hidden-xs"
                        boundary-links="true"
                        total-items="ctrl.productionsPage.totalElements"
                        ng-model="ctrl.currentPage"
                        ng-click="ctrl.refresh()"
                        class="pagination-sm"
                        max-size="10"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        num-pages="ctrl.productionsPage.totalPages">
        </uib-pagination>
        <uib-pagination class="visible-xs"
                        boundary-links="true"
                        total-items="ctrl.users.length"
                        ng-model="ctrl.currentPage"
                        ng-click="ctrl.refresh()"
                        class="pagination-sm"
                        max-size="5"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;"
                        num-pages="ctrl.productionsPage.totalPages">
        </uib-pagination>
    </div>

</div>

<script type="text/ng-template" id="deleteProduction.html">
    <div class="modal-header">
        <h3 class="modal-title">Suppression d'un contenu</h3>
    </div>
    <div class="modal-body">
        <p>Voulez vous vraiment supprimer le contenu créé le {{ selected.createdAt | ewDate}}</p>

        <div class="hidden-xs content ew-reponsive-text">{{ selected.content }}</div>
        <div class="visible-xs content ew-reponsive-text">{{ selected.content | limitTo:450}}{{selected.content.length>450 ? '...' :
            ''}}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>