project:
  artifactId: numeric-wall
  name: Numeric-Wall
  description: Application used by EMSE

info:
  build:
    artifact: ${project.artifactId}
    name: ${project.name}
    description: ${project.description}
  app:
    name: ${project.name}

numericwall:
  baseurl: ${EMSE_NW_BASEURL:http://localhost:8080}

ldap:
  todefine: url

spring:
  datasource:
    driver-class-name: ${EMSE_NW_DATABASE_DRIVER:com.mysql.jdbc.Driver}
    url: jdbc:mysql://${EMSE_NW_DATABASE_HOST:localhost}:${EMSE_NW_DATABASE_PORT:3306}/${EMSE_NW_DATABASE_SCHEMA:numericwall}
    username: ${EMSE_NW_DATABASE_USERNAME:numericwall}
    password: ${EMSE_NW_DATABASE_PASSWORD:numericwall}
    max-wait: 10
  jpa :
    ddl-auto : validate
    hibernate.naming_strategy : org.hibernate.cfg.EJB3NamingStrategy
    database-platform : org.hibernate.dialect.MySQL5InnoDBDialect
    testOnBorrow : true
    validationQuery : SELECT 1
  resources:
    chain:
      strategy:
        content:
          enabled: true
          paths: /**

management:
  context-path: /monitoring

---
spring:
  profiles: default

---
spring:
  profiles: cloud
