<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss} [%thread] %-5level %logger{16} - %msg%n%rEx</pattern>
        </encoder>
    </appender>


    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/e-wall.log</file>
        <encoder>
            <pattern>%date{HH:mm:ss} [%thread] %-5level %logger{16} - %msg%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="fr.emse.ewall" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGFILE"/>
    </root>



</configuration>
