<div class="container">
    <div class="qr-category__container">
        <div ng-repeat="category in ctrl.categories">
            <button class="qr-category__link btn" ng-click="ctrl.selectCategory(category.id)">{{category.message}}</button>
        </div>
    </div>
</div>

<div class="container-fluid" ng-if="ctrl.qrs">

    <svg style="height:100%;width:100%;border: 1px solid black" class="bigqrcode">
        <g>
            <svg ng-repeat-start="qr in ctrl.qrs"
                 ng-attr-width="{{qr.scaleDimension}}"
                 ng-attr-height="{{qr.scaleDimension}}"
                 ng-attr-x="{{qr.x}}"
                 ng-attr-y="{{qr.y}}">

                <rect fill="red"
                      ng-attr-width="{{qr.scaleDimension}}"
                      ng-attr-height="{{qr.scaleDimension}}"
                      stroke="blue">
                </rect>

            </svg>
            <svg ng-repeat-end="qr in ctrl.qrs"
                 ng-attr-viewBox="0 0 {{qr.scaleDimension}} {{qr.scaleDimension}}"
                 ng-attr-width="{{qr.scaleDimension}}"
                 ng-attr-height="{{qr.scaleDimension}}"
                 ng-attr-x="{{qr.x}}"
                 ng-attr-y="{{qr.y}}"
                 >

                <path stroke="#000000"
                      ng-attr-transform="scale({{qr.scaleRatio}})"
                      ng-attr-width="{{qr.scaleDimension}}"
                      ng-attr-height="{{qr.scaleDimension}}"
                      ng-attr-d="{{qr.svgPath}}">
                </path>
            </svg>
        </g>
    </svg>

</div>
