<div class="container">

    <h1><i class="glyphicon glyphicon-blackboard"></i> Mur numérique</h1>
    <ol class="breadcrumb ew-breadcrumb" style="padding: 4px 4px 4px 0">
        <li><a href="home">Accueil</a></li>
        <li><a href="wall">Mur</a></li>
        <li class="active">Mur</li>
    </ol>

    <div class="qr-category__container">
        <div ng-repeat="category in ctrl.categories">
            <button class="qr-category__link btn" ng-click="ctrl.selectCategory(category.id)">{{category.shortCode}}</button>
        </div>
    </div>
</div>

<div class="container-fluid text-center" ng-if="ctrl.qrs">

    <svg class="bigqrcode">
        <style type="text/css" >
            path.production:hover {
                stroke : {{ctrl.parameterMap.qrcode_colour_hover}};
            }
            rect.production:hover {
                fill : {{ctrl.parameterMap.qrcode_colour_hover}};
                fill-opacity:1;
            }
            rect.production,rect.naproduction {
                fill-opacity:0.1;
            }
        </style>

        <g>

            <svg ng-repeat-start="qr in ctrl.qrs"
                 ng-attr-width="{{qr.background.dimensionScaled}}"
                 ng-attr-height="{{qr.background.dimensionScaled}}"
                 ng-attr-x="{{qr.background.x}}"
                 ng-attr-y="{{qr.background.y}}">

                <rect fill="{{ctrl.parameterMap.qrcode_background}}" stroke="{{ctrl.parameterMap.qrcode_background}}"
                      ng-attr-width="{{qr.background.dimensionScaled}}"
                      ng-attr-height="{{qr.background.dimensionScaled}}"
                      ng-click="ctrl.seeProduction(qr)">
                </rect>

            </svg>

            <svg
                 ng-attr-width="{{qr.foreground.dimensionScaled}}"
                 ng-attr-height="{{qr.foreground.dimensionScaled}}"
                 ng-attr-x="{{qr.foreground.x}}"
                 ng-attr-y="{{qr.foreground.y}}">

                <path class="{{!!qr.production ? 'production' : 'naproduction'}}" ng-attr-stroke="{{!!qr.production ? ctrl.parameterMap.qrcode_foreground : ctrl.parameterMap.qrcode_foreground_na }}"
                      ng-attr-transform="scale({{qr.scaleRatio}})"
                      ng-attr-width="{{qr.foreground.dimensionScaled}}"
                      ng-attr-height="{{qr.foreground.dimensionScaled}}"
                      ng-attr-d="{{qr.svgPath}}"
                      ng-click="ctrl.seeProduction(qr)"
                     >
                </path>
            </svg>

            <svg ng-repeat-end
                 ng-attr-width="{{qr.background.dimensionScaled}}"
                 ng-attr-height="{{qr.background.dimensionScaled}}"
                 ng-attr-x="{{qr.background.x}}"
                 ng-attr-y="{{qr.background.y}}"
                 ng-click="ctrl.seeProduction(qr)">

                <rect class="{{!!qr.production ? 'production' : 'naproduction'}}"
                      ng-attr-width="{{qr.background.dimensionScaled}}"
                      ng-attr-height="{{qr.background.dimensionScaled}}">
                </rect>

            </svg>
        </g>
    </svg>
</div>

<script type="text/ng-template" id="seeProduction.html">
    <div class="modal-body">
        <p> Créé le <b>{{ selected.createdAt | ewDate}}</b> par <b>{{ selected.user.esmeid}}</b></p>

        <p ng-bind-html="selected.content | markdown"></p>
    </div>
</script>