@import '../../common';


.ew-headline{
  @include ew-shadow();
  background-color: $color-primary;

  img {
    padding: 2em;
  }

  @media (max-width: 768px){
    img {
      padding: 1em 0em 1em 0em;
    }
  }
}

.ew-headline-emse{
  @media (max-width: 768px){
    img {
      max-width: 170px;
      padding: 1em 0em 1em 0em;
    }
  }
}

.ew-menu{
  padding: 2em;
  text-align: center;
  max-width: 2000px;

  a:hover{
    background-color: $color-primary-light;
    @include ew-shadow();
  }

  .ew-menu__link{
    background-color: $color-primary;
    border-radius: 50%;
    width:140px;
    height:140px;
    color: white;


    i{
      font-size: 60px;
      padding-top: 30px;
    }
  }

  @media (max-width: 768px){
    padding: 1em 0em 1em 0em;
    .ew-menu__link{
      width:100px;
      height:100px;
      i{
        font-size: 40px;
        padding-top: 20px;
      }
    }
  }

  @media (min-width: 992px) {
    max-width: 100%;
  }
}

//Stage is the animation main container
#stage {
  width: 98%;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
  margin: 1em;
}

//We define a container with the perspective
.square-container {
  border: 1px solid black;
  position: absolute;
  right: 20%;
  perspective: 600px;
  height: 150px;
}


