<div class="container-fluid ew-headline">
    <div class="container">
        <img src="img/logo.svg">
    </div>
</div>

<div class="container ew-menu">
    <div class="row">
        <div class="col-lg-6">
            <a ui-sref="admin" class="ew-menu__link btn"><i class="glyphicon glyphicon-log-in"></i></a>
            <h2>Sécurisé</h2>
            <p>Accès réservé aux contributeurs et aux administrateurs de la solution</p>
        </div>
        <div class="col-lg-6 visible-lg">
            <a ui-sref="bigqrcode" class="ew-menu__link btn"><i class="glyphicon glyphicon-blackboard"></i></a>
            <h2>Grand écran</h2>
            <p>Vous pouvez ouvrir le mur numérique afin d'afficher les QR codes par catégories</p>
        </div>
    </div>
</div>

<div class="text-center ew-headline-emse" >
    <img src="img/emse.svg">
</div>

