@import 'common';

@import 'component/bigqrcode/bigqrcode';
@import 'component/main/main';
@import 'component/category/category';

$roboto-font-path: '../fonts';

body {
  font-family: "Roboto", "Arial";
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

th{
  background-color: $color-primary;
  color: white;
}

@media (max-width: 768px){
  body {
    padding: 0 0 0 0 !important;
  }
}

@mixin roboto-font($type, $weight, $style) {
  @font-face {
    font-family: 'Roboto';
    src: url('#{$roboto-font-path}/Roboto-#{$type}.eot');
    src: url('#{$roboto-font-path}/Roboto-#{$type}.woff2') format('woff2'),
    url('#{$roboto-font-path}/Roboto-#{$type}.woff') format('woff'),
    url('#{$roboto-font-path}/Roboto-#{$type}.ttf') format('truetype'),
    url('#{$roboto-font-path}/Roboto-#{$type}.svg#Roboto') format('svg');
    font-weight: $weight;
    font-style: $style;
  }

  @font-face {
    font-family: 'Roboto-#{$type}';
    src: url('#{$roboto-font-path}/Roboto-#{$type}.eot');
    src: url('#{$roboto-font-path}/Roboto-#{$type}.woff2') format('woff2'),
    url('#{$roboto-font-path}/Roboto-#{$type}.woff') format('woff'),
    url('#{$roboto-font-path}/Roboto-#{$type}.ttf') format('truetype'),
    url('#{$roboto-font-path}/Roboto-#{$type}.svg#Roboto') format('svg');
  }
}

@mixin roboto-font-pair($type, $weight) {
  @include roboto-font('#{$type}', $weight, normal);
}

@include roboto-font-pair('Light', 300);
@include roboto-font-pair('Regular', 400);


.nw-header{
  background-color: $color-primary;
  color: white;
  a{
    color: white;
  }
  img{
    min-height: 25px;
    min-width: 75px;
  }
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.nw-body{
  flex:1;
  height: 100%;
  overflow-y: scroll;
}

.nw-footer{
  background-color: $color-primary;
  color: white;
  padding: 1em;
  a{
    color: white;
  }
  
  @media (max-width: 768px){
   padding: 0;
    font-size: 11px;
  }
}



.nw-spinner {
  display: table;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .nw-spinner__box {
    position: absolute;
    top:25%;
    width: 100%;
    color: $color-primary;
  }

  .nw-spinner__box-inner{
    text-align: center;
    margin: auto;
    max-width: 120px;
    background-color: white;
    padding: 2em;
    border-radius: 4px;
  }
}


input.ng-invalid{
  border: 1px solid #F06292;
}