<!-- index.html -->
<html ng-app="ew" lang="en" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Numeric wall</title>
    <base href="/">

    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- build:vendorscss -->
    <link rel="stylesheet" href="css/vendors.css"/>
    <!-- endbuild -->
    <!-- build:css -->
    <link rel="stylesheet" href="css/index.css"/>
    <!-- endbuild -->

    <style>

    </style>
</head>
<body ng-cloak>

<header class="ew-header">
    <div class="container-fluid">
        <a class="navbar-brand" ui-sref="home"><img src="img/logo.svg" class="hidden-xs"><span class="visible-xs">E-Wall</span></a>
        <div class="navbar-login"  ng-controller="LogoutMainCtrl">
            <a ui-sref="login" ng-if="!autenticated" tooltip-placement="bottom"  uib-tooltip="Se connecter"><i class="glyphicon glyphicon-log-in"></i> </a>
            <a ui-sref="logout" ng-if="autenticated" tooltip-placement="bottom"  uib-tooltip="Se déconnecter"><i class="glyphicon glyphicon-log-out"></i></a>
        </div>
    </div>

</header>

<!--[if lte IE 9]>
<div class="container-fluid">
    <p>&nbsp;</p>
    <h1 class="browserupgrade center">Vous utilisez un navigateur <strong>dépassé technologiquement</strong>. Veuillez <a href="http://browsehappy.com/">utiliser un navigateur plus récent</a> pour avoir une meilleure expérience (Firefox, Chrome, Safari, IE>=10).</h1>
</div>
<![endif]-->

<div class="ew-body" ui-view></div>

<div class="ew-footer">
    <div class="container-fluid">
    <div class="col-sm-6">Copyright © Ecole des Mines, Saint Etienne</div>
    <div class="text-right col-sm-6 hidden-xs">Created by <a href="https://dev-mind.fr">Dev-Mind</a></div>
    </div>
</div>

<div class="ew-spinner" ng-if="!!waitingPopup">
    <div class="ew-spinner__box">
        <div class="ew-spinner__box-inner">
            <p class="ew-text">Loading...</p>
        </div>
    </div>
</div>
<!-- build:vendors -->
<script src="js/vendors.js"></script>
<!-- endbuild -->
<!-- build:js -->
<script src="js/index.js"></script>
<!-- endbuild -->
<!-- build:e2e -->
<!-- endbuild -->
</body>
</html>