<div class="container">

    <h1><i class="glyphicon glyphicon-edit"></i> <span ng-if="!ctrl.production.id">Ajouter</span><span ng-if="ctrl.production.id">Modifier</span> contenu</h1>

    <ol class="breadcrumb ew-breadcrumb">
        <li><a href="home">Accueil</a></li>
        <li><a href="admin">Produire</a></li>
        <li class="active">Ajouter contenu</li>
    </ol>

    <div class="tab__container step-tab__container">
        <div class="tab__item text-center step-tab__completed">
            <h3 class="step-tab__title" ng-click="ctrl.changeCategory()"><i class="glyphicon glyphicon-random">
                &nbsp;</i>Parcours</h3>
        </div>
        <div class="tab__item text-center"
             ng-class="{ 'step-tab__todo' : ctrl.currentTab!=='content', 'step-tab__completed': ctrl.currentTab==='content'}">
            <h3 class="step-tab__title"><i class="glyphicon glyphicon-text-size">&nbsp;</i>Contenu</h3>
        </div>
    </div>

    <div ng-if="ctrl.currentTab!=='content'">
        <p>
            Choisissez le parcours sur lequel vous voulez ajouter du contenu.
        </p>

        <div class="hidden-xs">
            <div class="qr-category__container">
                <div ng-repeat="category in ctrl.categories">
                    <button class="qr-category__link btn"
                            ng-click="ctrl.selectCategory(category)"
                            ng-mouseover="ctrl.categorytemp = category"
                            ng-mouseleave="ctrl.categorytemp = undefined">{{category.shortCode}}
                    </button>
                    <br>
                </div>

            </div>

            <div class="text-center">
                <h3 ng-if="ctrl.category"><span ng-if="ctrl.categorytemp">Remplacer</span> Parcours <b>{{ctrl.category.name}}</b> <span ng-if="ctrl.categorytemp"> par <b>{{ctrl.categorytemp.name}}</b></span></h3>
                <h3 ng-if="!ctrl.category && ctrl.categorytemp">Parcours <b>{{ctrl.categorytemp.name}}</b></h3>
            </div>
        </div>
        <div class="visible-xs">
            <div ng-repeat="category in ctrl.categories" class="category-selector">
                <button class="category-link btn"
                        ng-click="ctrl.selectCategory(category)">{{category.shortCode}}
                </button>
                <a ng-click="ctrl.selectCategory(category)">{{category.name}}</a>
                <br>
            </div>

        </div>
    </div>

    <div ng-if="ctrl.currentTab==='content'">
        <production-content></production-content>
    </div>
</div>

