<div class="container">

    <h1><i class="glyphicon glyphicon-edit"></i> Ajouter contenu</h1>

    <ol class="breadcrumb">
        <li><a href="home">Accueil</a></li>
        <li><a href="admin">Sécurisé</a></li>
        <li class="active">Ajouter contenu</li>
    </ol>

    <div class="tab__container" style="display: flex;background-color: #cccccc;margin: 1em 0; box-shadow: inset 0 -1px 0 rgba(0,0,0,.15); border-radius: 2px">
        <div class="tab__item text-center" style="flex:1;background-image: linear-gradient(to bottom,#522b93 0,#6f5499 100%);color:white;padding: 4px 0px;border-radius: 2px">
            <h3 style="margin: 0;padding: 0;"><i class="glyphicon glyphicon-random">&nbsp;</i>Parcours</h3>
        </div>
        <div class="tab__item text-center" style="flex:1; padding: 4px 0px;">
            <h3 style="margin: 0;padding: 0;"> <i class="glyphicon glyphicon-text-size">&nbsp;</i>Contenu</h3>
        </div>
    </div>

    Cette page est à construire

</div>