<div class="container">

    <h1><i class="glyphicon glyphicon-log-in"></i> Produire</h1>

    <ol class="breadcrumb ew-breadcrumb">
        <li><a href="home">Accueil</a></li>
        <li class="active">Produire</li>
    </ol>

</div>

<div class="container ew-menu" ng-if="ctrl.isAdmin">
    <div class="row">
        <div class="col-sm-4">
            <a ui-sref="production" class="ew-menu__link btn"><i class="glyphicon glyphicon-edit"></i></a>
            <h2>Nouveau</h2>
            <p>Ajouter un texte ou une image dans un parcours </p>
        </div>
        <div class="col-sm-4 ">
            <a ui-sref="productions" class="ew-menu__link btn"><i class="glyphicon glyphicon-edit"></i></a>
            <h2>Productions</h2>
            <p>Suivre les textes et les ressources ajoutées</p>
        </div>
        <div class="col-sm-4 ">
            <a ui-sref="category" class="ew-menu__link btn"><i class="glyphicon glyphicon-tasks"></i></a>
            <h2>Parcours</h2>
            <p>Les productions sont rassemblées selon des parcours</p>
        </div>
        <div class="col-sm-4  ">
            <a ui-sref="user" class="ew-menu__link btn"><i class="glyphicon glyphicon-user"></i></a>
            <h2>Utilisateurs</h2>
            <p>Gérer les droits des utilisateurs</p>
        </div>
        <div class="col-sm-4 ">
            <a ui-sref="monitor" class="ew-menu__link btn"><i class="glyphicon glyphicon-scale"></i></a>
            <h2>Serveur</h2>
            <p>Suivre l'état de l'application</p>
        </div>
        <div class="col-sm-4 ">
            <a ui-sref="parameter" class="ew-menu__link btn"><i class="glyphicon glyphicon-cog"></i></a>
            <h2>Paramètres</h2>
            <p>Paramètres de l'application en local</p>
        </div>
    </div>
</div>


<div class="container ew-menu" ng-if="!ctrl.isAdmin">
    <div class="row">
        <div class="col-lg-6">
            <a ui-sref="production" class="ew-menu__link btn"><i class="glyphicon glyphicon-edit"></i></a>
            <h2>Nouveau</h2>
            <p>Ajouter un texte ou une image dans un parcours </p>
        </div>
        <div class="col-lg-6">
            <a ui-sref="myproductions" class="ew-menu__link btn"><i class="glyphicon glyphicon-list-alt"></i></a>
            <h2>Mes productions</h2>
            <p>Modifier et voir les textes et les images que j'ai produits</p>
        </div>
    </div>
</div>
