
<div class="container nw-menu">
    <div class="row">
        <div class="col-sm-4 ">
            <a ui-sref="admin" class="nw-menu__link btn"><i class="glyphicon glyphicon-edit"></i></a>
            <h2>Productions</h2>
            <p>Suivre les textes et les ressources ajoutées</p>
        </div>
        <div class="col-sm-4 ">
            <a ui-sref="category" class="nw-menu__link btn"><i class="glyphicon glyphicon-tasks"></i></a>
            <h2>Catégorie</h2>
            <p>Les productions sont rasssemblées en catégorie</p>
        </div>
        <div class="col-sm-4 ">
            <a ui-sref="admin" class="nw-menu__link btn"><i class="glyphicon glyphicon-qrcode"></i></a>
            <h2>Qr codes</h2>
            <p>Visualiser les différents QR codes alloués</p>
        </div>
        <div class="col-sm-4  ">
            <a ui-sref="admin" class="nw-menu__link btn"><i class="glyphicon glyphicon-user"></i></a>
            <h2>Utilisateurs</h2>
            <p>Gérer les droits des utilisateurs</p>
        </div>
        <div class="col-sm-4 ">
            <a ui-sref="admin" class="nw-menu__link btn"><i class="glyphicon glyphicon-scale"></i></a>
            <h2>Serveur</h2>
            <p>Suivre l'état de l'application</p>
        </div>
    </div>
</div>
