<div class="container">

    <h1><i class="glyphicon glyphicon-blackboard"></i> Mur numérique</h1>

    <ol class="breadcrumb ew-breadcrumb" style="padding: 4px 4px 4px 0">
        <li><a href="home">Accueil</a></li>
        <li class="active">Mur</li>
    </ol>

    <p class="ew-text">Chaque QR code correspond à un Parcours. Cliquez sur un des QR code pour accéder aux différentes
        productions de ce Parcours.</p>

    <div class="hidden-xs">
        <div class="qr-category__container">
            <div ng-repeat="category in ctrl.categories" style="margin: 1em">
                <a ng-click="ctrl.goBigQrCode(category)"><svg width="158" height="158" class="qrCode" ng-click="ctrl.goBigQrCode(category)">
                    <style type="text/css">
                        .link_svg:hover {
                            fill: #707070;
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                        }

                        text.high {
                            fill: white;
                            font-size: 40px;
                        }
                    </style>
                    <g>
                        <svg width="158" height="158">
                            <rect fill="#4f2d94" width="158" height="158"></rect>
                        </svg>

                        <svg width="200" height="200" class="qrCode" x="4" y="4">
                            <path stroke="#7d5ccf" ng-attr-d="{{category.qrcodes[0].svgPath}}" transform="scale(4)"/>
                        </svg>

                        <svg height="100" width="100" x="26" y="26" class="link_svg">
                            <circle cx="50" cy="50" r="50" fill="#3a3a3a"/>
                        </svg>

                        <text fill-opacity="1" x="65" y="90" class="high">{{category.shortCode}}</text>
                    </g>

                </svg></a>
                <div style="max-width:158px" class="text-center">{{category.name}}</div>
            </div>
        </div>
    </div>
    <div class="visible-xs">
        <div ng-repeat="category in ctrl.categories" class="category-selector" style="display: flex;align-items:center">
            <div style="padding-top: 1em">
                <svg width="64" height="64" class="qrCode" ng-click="ctrl.goBigQrCode(category)">
                    <style type="text/css">
                        circle:hover {
                            fill: #707070;
                            cursor: hand;
                            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
                        }

                        text {
                            fill: white;
                            font-size: 22px;
                            cursor: hand;
                        }
                    </style>
                    <g>
                        <svg width="158" height="158">
                            <rect fill="#4f2d94" width="158" height="158"></rect>
                        </svg>

                        <svg width="200" height="200" class="qrCode" x="4" y="4">
                            <path stroke="#7d5ccf" ng-attr-d="{{category.qrcodes[0].svgPath}}" transform="scale(1.5)"/>
                        </svg>

                        <svg height="40" width="40" x="12" y="12" class="link_svg">
                            <circle cx="20" cy="20" r="20" fill="#3a3a3a"/>
                        </svg>

                        <text fill-opacity="1" x="25" y="40">{{category.shortCode}}</text>
                    </g>

                </svg>
            </div>
            <div style="flex:1;padding-left: 1em;"><a ng-click="ctrl.goBigQrCode(category)">{{category.name}}</a></div>

            <br>
        </div>

    </div>
</div>